*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
    text-decoration: none ;
    list-style: none ;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.header{
    position: fixed ;
    top: 0 ;
    left: 0 ;
    width: 100% ;
    padding: 35px 12%;
    background: rgb(255, 250, 160);
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
}

.navbar a{
    font-size: 20px ;
    color: rgb(253, 108, 36) ;
    margin: 0 20px ;
}

.navbar a:hover{
    color: rgb(160, 181, 255) ;
}

.story{}

.headshot{}

  